<div class="bg-light bg-opacity-50" style="height: auto;">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col m-3 bg-light">
			<p class="m-1" style="text-align:center; font-size:30px">№@numberOfSurvey</p>
		</div>
	</div>
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col m-3 bg-light">
			<p class="m-3" style="font-size:x-large; text-align:center;">@survey.Question</p>
		</div>
	</div>
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col m-3 bg-light">
			<form>
				<div class="m-3">
				  <input type="text" class="form-control" id="textInput" @bind-value="answer" @onkeydown="HandleKeyDown" @onblur="HandleBlur" placeholder="Введіть відповідь">
				</div>
			</form>
		</div>
	</div>
</div>

@code {
	[Parameter] public Survey survey { get; set; }
	[Parameter] public string[] answers { get; set; }
	[Parameter] public int numberOfSurvey { get; set; }
	public string answer = "";

	private void HandleKeyDown(KeyboardEventArgs e)
	{
	    if (e.Key == "Enter")
	    {
	        AnswersHandler();
	    }
	}
	
	private void HandleBlur(FocusEventArgs e)
	{
	    AnswersHandler();
	}
	
	private void AnswersHandler()
	{
	    answers[numberOfSurvey-1] = answer;
	}
}
